.footer-form {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__field {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .footer-form__thumb {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__field {
    flex-wrap: nowrap;
    justify-content: start;
    width: 570px;
  }

  .footer-form__thumb {
    flex-wrap: nowrap;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 12px;
    width: 351px;
  }
}

.footer-form__icon {
  fill: $main-color;
  vertical-align: middle;
}
